* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

main {
	background-image: url("download.jpg");
	background-size: 100%;
	background-attachment: fixed;
	margin-left: 220px;
	background-repeat: no-repeat;
}

.labelhead {
	color: lightgrey;
	margin: 20px;
	line-height: 80px;
}
h1	{
	margin-top: 20px;
	color: darkcyan;
	padding: 20px;
	font-size: 2.5em;
}

nav {
	background-color: black;
	height: 100%;
	width: 220px;
	position: fixed;
}

ul {
	width: 140px;
	margin: 0 auto;
}


h2	{
	color: lightgrey;
	margin-bottom: 15px;
}

p {
	color: darkgrey;
	margin: 20px;
}

.border {
	background-color: grey;
	padding: 20px;
	width: 65%;
	clear: both;
	margin: 20px;
	background: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	border: 1px solid white;
}

.searchbar {
	float: right;
	padding: 15px;
	margin: 35px;
	width: 300px;	
	position: absolute;
	left: 900px;
}

.image {
	background-color: grey;
	opacity: 0.8;
	height: 120px;
	width: 180px;
	border: 1px solid white;
	margin: 10px;
	float: left;
	margin-top: 22px;
}

i {
	color: darkgrey;
	vertical-align: text-bottom;
}

strong {
	color: white;
	line-height: 30px;
}

.dcyan {
	color: darkcyan;
}

.readmore {
	float: right;
	padding: 2px;
}

ul > a > li {
	text-decoration: none;
	color: darkgrey;
	font-size: 1.2em;
	width: 150px;
}

ul > a {
	list-style: none;
	margin-bottom: 2px;
	line-height: 40px;
	margin-top: 2px;
	text-indent: 10px;
}

a {
	text-decoration-line: none;
	color: darkcyan;
}

li:hover {
	background: rgba(204, 204, 204, 0.4);
	color: darkcyan;
}

small	{
	color: grey;
	font-size: 1em;
}

footer {
	height: 50px;
	text-align: center;
	font-size: 0.8em;
}

.f-border {
	color: darkcyan;
	text-align: left;
	line-height: 100px;
}

h3	{
	color: lightgrey;
	margin-top: 40px;
	margin-left: 20px;
}

h3 ~ ul > .hove {
	color: darkcyan;
	margin-top: 5px;
	/*margin-left: -5px;*/
	font-size: 1.08em;
	width: 180px;
	background: rgba(0,0,0,0);
}

.header4	{
	color:grey;
	font-size: 1.2em;
	margin: 10px;
}

.rightbar {
	float: right;
	position: absolute;
	top: 90px;
	left: 925px;
	margin: 10px;
}

h4 {
	color: darkcyan;
	font-size: 1.1em;
	margin-left: 10px;
}

.image2 {
	background-color: grey;
	opacity: 0.8;
	height: 75px;
	width: 75px;
	border: 1px solid white;
	margin: 10px;
	float: left;
	margin-top: 5px;
}

h4 ~ ul > .hove {
	color: darkcyan;
	list-style: none;
	text-align: left;
	margin-left: -75px;
	background: rgba(0,0,0,0);
	margin-bottom: 5px;

}

select	{
	padding: 8px;
	font-size: 1.1em;
	width: 290px;
	margin: 10px;
}
